body{
    width: 99%;
    height: 100%;
    background-color: cornflowerblue;
}

#navigation{
    display: block;
}

.note{
    display: inline-block;
    width: 200px;
    margin: 1px;
    border: 2px solid black;
}

.note:hover{
    border: 2px solid rgba(0,100,255, .4);
}